<div class="center container">
    <% if logged_in? %>
        <div class="split left">
            <div class="centered">
                <%= render 'shared/user_info'%>
                <p>Learned Words Info</p>
            </div>
        </div>
        <div class="split right">
            <div class="centered">
                This is the Newsfeed
            </div>
        </div>
    <% else %>
        <div class="jumbotron">
            <%= link_to "Sign up", signup_path , class: "btn btn-lg btn-primary" %>      
        </div>
    <% end %>
</div>
