<div class="row">
    <div class="col-md-6 col-lg-offset-3 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="center" colspan="2"><h2><%= @word.content %></h2></th>
                </tr>
            </thead>
            <tbody>
                <% @word.choices.each do |choice| %>
                    <tr>
                        <td>
                            <%= choice.content %>
                        </td>
                        <td>
                            <% if choice.correct? %> 
                                <span class="glyphicon glyphicon-ok float-right" aria-hidden="true"></span>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <%= link_to [:admin, @category], class: 'btn btn-primary' do %>
            <i class="glyphicon glyphicon-chevron-left"></i> Back to category
        <% end %>

        <%= link_to "Edit Word", edit_admin_category_word_path(@category, @word), class: 'btn btn-primary' %>
    </div>
</div>