<div class="row">
    <div class="col-md-6 centered">
        <table class="table">
            <thead>
                <tr>
                    <th class="center" colspan="2"><h2><%= @word.content %></h2></th>
                </tr>
            </thead>
            <tbody>
                <% @word.choices.each do |choice| %>
                    <tr>
                        <td>
                            <%= choice.content %>
                        </td>
                        <td>
                            <% if choice.correct? %> 
                                <span class="glyphicon glyphicon-ok icon" aria-hidden="true"></span>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <%= link_to "Back to category", admin_category_url(@category), class: 'btn btn-primary' %>
    </div>
</div>
