<div class="row"> 
    <%= render 'shared/headboard', user: @user %>
    <%= render 'shared/profile_nav', user: @user %>
    <div>
        <%= render 'shared/activities', user: @user %>
    </div>
</div>