<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <%= link_to "Words Learned "+total(@user).to_s, lessons_path(id: @user.id) , class: "btn btn-default" %>
    </div>
    <div class="btn-group" role="group">
        <%= link_to "Followers "+@user.followers.count.to_s, followers_user_path(@user), class: "btn btn-default" %>
    </div>
    <div class="btn-group" role="group">
        <%= link_to "Following "+@user.following.count.to_s, following_user_path(@user), class: "btn btn-default" %>
    </div>
</div>