<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <%= link_to "Learned Lessons", lessons_path , class: "btn btn-default" %>
    </div>
    <div class="btn-group" role="group">
        <%= link_to "Followers", '#', class: "btn btn-default" %>
    </div>
    <div class="btn-group" role="group">
        <%= link_to "Following", '#', class: "btn btn-default" %>
    </div>
</div>