@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.img-div{
  overflow: hidden;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.alert {
  position: relative;
  z-index: 1;
}


ul {
  list-style-type: none;
}

/* header */
.head-img {
  overflow: hidden;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

/* Dashboard */
.split {
  height: 100%;
  position: fixed;
  top: 0;
  padding-top: 20px;
}

.left {
  left: 0;
  width: 30%;
  background-color: #d1d1d1;
}

.right {
  right: 0;
  width: 69%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* profile */
.headboard {
  background-color: #d1d1d1;
}

/* user's list */
.img-users-list{
  overflow: hidden;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

/* categories */
.c1 {
  display:inline-block;
  width: 80%;
}

.c2 {
  display:inline-block;
  width: 18%;
}